/* HEADER / STYLES START */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  bottom: 600px;
  background-image: url("../images/Pacifica Surf Img1.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: 80%;
}

.header1 {
  text-align: right;
  color: blue
}

/* Headter Styles End  */

.service-grid-container1 {
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: 100px; 
  padding-top: 50px;
  padding-bottom: 30px;
  
}

.service-grid-container2 {
  display: grid;
  grid-template-columns: 300px 600px 200px;
  grid-template-rows: 200px;
  padding-bottom: 100px;
}

.service-grid-container3 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px;
  padding-bottom: 80px;
  padding-left: 20px;

}

.service-grid-container4 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px;
  padding-top: 40px;
  padding-bottom: 50px;
  
}

/* .service-grid-container5 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px;
  padding-bottom: 80px;
  padding-left: 20px;
} */

.service-grid-containerlast {
  display: grid;
  grid-template-columns: 300px 200px 200px 200px 200px 200px;
  grid-template-rows: 200px;
  padding-top: 30px;
  
}




.service-grid-item {
  /* width: 200px;
  height: 50px; */
  background-color: white;
  border: solid;
  color: black;
}

.service-grid-item-About-Me {
  grid-column: 1 / span 1;
  font-size: 40px;
  font-family: Arial;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
  .service-grid-item-Three {
  grid-column: 1 / span 1;
  font-size: 40px;
  font-family: Arial;
  padding: 40px 0;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  }



  .service-grid-item-Two {
    justify-items: start;
  }

  .service-grid-item-Four {
    padding-left: 20px;
    padding: 60px 15px;
    border-color: blue;
    background-image: url("../images/Pacifica Surf Img2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 1;

  }

  .service-grid-item-Four:hover   {
    opacity:.5;

  }

  .service-grid-item-Five {
    padding: 5px;
    padding-left: 80px;
    background-image: url("../images/Mavericks\ Waves1.jpg");
    background-size: 50%;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 1;

  }

  .service-grid-item-Five:hover   {
    opacity:.5;

  }

  .service-grid-item-Six {
    grid-column: 2 / span 1;
    padding-left: 20px;
    padding: 60px 15px;
    background-image: url("../images/Ocean Beach Waves.jpg");
    background-size: 50%;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 1;

  }

  .service-grid-item-Eight {
    grid-column: 3 / span 1;
    padding-left: 20px;
    padding: 60px 15px;
    background-image: url("../images/RunBuddy.jpg");
    background-size: 80%;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 1;

  }

  .service-grid-item-Eight:hover   {
    opacity:.5;
  }

  .service-grid-item-Six:hover   {
    opacity:.5;
  }

  .service-grid-item-last {
    grid-column: 1 / span 1;
    font-size: 40px;
    font-family: Arial;
    padding: 40px 0;
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: center;
  }

  .service-grid-item-last1 {
    grid-column: 2 / span 1;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration:underline;

  
  }

  .service-grid-item-last2 {
    grid-column: 3 / span 1;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration:underline;
  
  }

  .service-grid-item-last3 {
    grid-column: 4 / span 1;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration:underline;
  
  }

  .service-grid-item-last4 {
    grid-column: 5 / span 1;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration:underline;
  
  }

  .service-grid-item-last5 {
    grid-column: 6 / span 1;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration:underline;
   
  } 

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
  
  .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service-grid-item.basic {
    grid-column: 1;
  }

  .service-grid-item.both {
    grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
    transform: none;
    writing-mode: unset;
    grid-column: 1 / -1;
    grid-row: -1;
  }

  .trainer-img h3, .trainer-img h4, .trainer-img::after {
    display: none;
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* @media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* @media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
  
  .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service-grid-item.basic {
    grid-column: 1;
  }

  .service-grid-item.both {
    grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
    transform: none;
    writing-mode: unset;
    grid-column: 1 / -1;
    grid-row: -1;
  }

  .trainer-img h3, .trainer-img h4, .trainer-img::after {
    display: none;
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
} */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}  */